/* .nav_bar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
} */

.title_bar {
    position: relative;
    height: 65px;
    background-color: brown;
}

/* .content_area {
    margin: 0 7px;
    margin-top: 65px;
} */

.btn_back {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    top: 7.5px;
    left: 5px;
    border: none;
}

/* .departure_area {
    position: relative;
}

.departure_selected_item {
    position: absolute;
    z-index: 999;
    top: 0;
}

.departure_content {
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
} */


.content_area{
    width: 100%;
    height: calc(100vh - 65px);
    padding: 0 7px;
    overflow: scroll;
}